@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Maitree:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
}

body {
  margin: 0;
  font-family: $ff-primary;
  color: black;
  text-align: left;
  background-color: #fff;
}

img {
  vertical-align: middle;
  border-style: none; // Remove the border on images inside links in IE 10-.
}

svg {
  // Workaround for the SVG overflow bug in IE10/11 is still required.
  // See https://github.com/twbs/bootstrap/issues/26878
  overflow: hidden;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p,
a:not(.logo) {
  font-size: 22px;
  line-height: 1.4;
}

a {
  background-color: transparent; // Remove the gray background on active links in IE 10.
  -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

button {
  border-radius: 0;
  border: 0;
  background: transparent;
  font-family: inherit;
  color: inherit;
  padding: 0;
}

ul {
  list-style: none;
}
