// Colors
$c-gray: #E2E6E5;
$c-gray-dark: #232020;
$c-gray-darkest: #181616;

$c-default: $c-gray-darkest;
$c-alternate: $c-gray;

// Type
$ff-primary: 'Playfair Display', serif;
$fs-base: 25px;
$fw-base: regular;

